{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<form method="POST" enctype=multipart/form-data>
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom"> Information Extractor </legend>
			<div>
				<p class='text-muted'>You can upload more than one article at a time.</p>
			</div>
			<div>
				{{ form.upload_files.label(class="form-control-label") }}
				{% if form.upload_files.errors %}
					{{ form.upload_files(class="form-control mb-4") }}
					<div class="invalid-feedback">
						{% for error in form.upload_files.errors %}
							<span> {{ error }} </span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.upload_files(class="form-control mb-4") }}
				{% endif %}
			</div>				
			<div>
				{{ form.keyword.label(class="form-control-label") }}
				{{ form.keyword(class="form-control mb-4") }}
			</div>
			<div>
				{{ form.algorithm.label(class="form-control-label") }}
				{{ form.algorithm(class="form-control mb-4") }}
			</div>
		</fieldset>
		{{ form.submit(class="btn btn-outline-info")}}
	</form>
</div>
<script>
    $(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
</script>
{% endblock content %}